 html,body {
height: 100%;
margin: 0;
background-image:url("images/background.jpg");
background-size: cover;
background-repeat: no-repeat;
}
.container {
display: flex;
justify-content: space-around;
align-items: center;
height: 100vh;
flex-direction:column;
}
.login-content {
border: 2px solid blue;
background-color: aqua;
display:flex;
flex-direction: column; 
height: auto; 
width: 500px;
justify-content: center;
align-items: center; 
border-radius: 15px; 
padding: 5px;
}
        